<%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <section class="vehicle-details">
                <%- vehicle %>
            </section>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>